[Unit]
Description=Updates /etc/pacman.d/antergos-mirrorlist and /etc/pacman.d/mirrorlist

[Service]
Type=oneshot
ExecStart=/usr/bin/remirror --save=yes --p=https

[Install]
WantedBy=remirror.timer
